@font-face {
    font-family: 'lilita';
    src: url(./assets/LilitaOne-Regular.ttf);
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'lilita';
    min-height: 100vh;
    background-image: url(./assets/pattern.jpg);
    background-repeat: repeat;
}

.header{
    position: relative;
}

.main-home{
    height: 100vh;
    background-image: url(./assets/barber-pic.jpeg);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-home img{
    width: 300px;
}

.border{
    z-index: 10;
    background-image: url(./assets/border_1.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
}

.about-wrapper{
    margin-top: 10rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-decorative-image{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background-image: url(./assets/brush.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    width: 400px;
    height: 800px;
    margin-left: 20px;
}

.main-informative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    float: right;
    z-index: 11;
    position:relative;
}

.main-title h1{
    font-size: 60px;
}

.main-description p{
    font-size: 26px;
    text-align: center;
}

.main-description p a{
    
    text-decoration: underline;
}

.main-logo{
    background: url(./assets/logo.png) no-repeat;
    width: 300px;
    height: 300px;
    background-position: center 0;
    background-size: cover;
}

.main-paragraph{
    width: 400px;
    font-size: 18px;
}

.about-border{
    bottom: -300px;
    background-color: black;
    transform: rotate(180deg);
}

